@import "tailwindcss";

@theme {
  --font-display: "Be Vietnam Pro", sans-serif;
  --breakpoint-xs: 15rem;
  --animate-diagonal: diagonal 5s ease-in-out infinite;
  --animate-opacity: opacity 0.5s ease-in-out;

  @keyframes diagonal {
    0%,
    100% {
      transform: translate(0, 100px);
    }
    50% {
      transform: translate(400px, 100px);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-200 w-screen h-dvh overflow-hidden font-display;
  }
}

@layer components {
  .splash-blur {
    @apply relative overflow-hidden xs:w-40 sm:w-80 md:w-96 lg:w-[500px];
  }
  .splash-blur::before {
    content: "";
    @apply absolute w-20 h-20 md:w-[200px] md:h-[200px] blur-[80px] opacity-20 rounded-full bg-purple-500 -z-10 animate-diagonal left-0 bottom-10  sm:-left-10 sm:-top-10;
  }
}

.add-section-btn::after,
.add-section-btn::before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid var(--color-purple-500);
  margin-block: auto;
}

.add-section-btn::after {
  margin-left: 1rem;
}

.add-section-btn::before {
  margin-right: 1rem;
}

button {
  cursor: pointer;
}

.simplebar-scrollbar::before {
  background: var(--color-neutral-700) !important;
  width: 5px !important;
}

.simplebar-scrollbar:hover:before {
  background-color: var(--color-neutral-700) !important;
}

.swiper-pagination-bullet{
  background: var(--color-neutral-50) !important;
}